<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Feed</h1>
    {% for page in pages %}
    
        <h3>{{page.title}}</h3>
        <p>{{page.desc}}</p>
        <small>{{page.publish}}</small>
    
    {% endfor %}

    <hr>
    <div>
        <span>
            {% if pages.has_previous %}
                <a href="?page={{pages.previous_page_number}}">prev</a>
            {% endif %}

            <span>{{pages.number}}</span>

            {% if pages.has_next %}
                <a href="?page={{pages.next_page_number}}">next</a>
            {% endif %}
        </span>
    </div>
    
</body>
</html>